<!DOCTYPE html>
<html lang="it">

<head>
    <title>Poliwood - Collezioni</title>
    {% include 'base.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <main class="container-fluid px-5">
        <section class="py-5 text-center container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3 class="page-title mb-4">LE NOSTRE COLLEZIONI</h3>
                    <p class="text-paragrafo lead">
                        Scoprite le nostre collezioni di porte, ognuna con un design unico e materiali di alta qualità.
                        Dalla modernità alla tradizione, ogni porta è un'opera d'arte che arricchirà il vostro spazio.
                    </p>
                </div>
            </div>
        </section>

        <section class="collections-section mb-5">
            <div class="row gy-5 justify-content-center">
                {% for collezione in collezioni %}
                <div class="col-md-4">
                    <a href="{{ url_for('collezione', collezione_id=collezione.id_collezione) }}"
                        class="text-decoration-none">
                        <div class="group-card">
                            <img src="{{ url_for('static', filename='assets/img/Collezioni/' ~ collezione.immagine_copertina) }}"
                                alt="{{ collezione.nome_collezione }}" class="collection-image">
                        </div>
                        <h2 class="collection-name">{{ collezione.nome_collezione }}</h2>
                    </a>
                </div>
                {% else %}
                <h3 class="text-center mt-5">Nessuna collezione disponibile al momento.</h3>
                {% endfor %}
            </div>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>