<div class="navbar-logo-container">
    <div class="navbar-logo-container">
        <div class="language-selector">
            <a href="#" class="lang-active">IT</a>
            <span class="lang-sep">|</span>
            <a href="#">EN</a>
            <span class="lang-sep">|</span>
            <a href="#">DE</a>
            <span class="lang-sep">|</span>
            <a href="#">FR</a>
        </div>
    </div>


    <a href="{{ url_for('home') }}" class="logo-link">
        <img src="{{ url_for('static', filename='assets/img/Loghi/logo.jpg') }}" alt="Logo" style="max-height: 120px;">
    </a>
</div>

<nav class="navbar-menu-container">
    <ul class="navbar-menu">
        <li class="navbar-item">
            <a href="{{ url_for('home') }}" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
            <div class="dropdown">
                <a href="#" class="navbar-link">Azienda&nbsp;<i class="bi bi-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('chi_siamo') }}">Chi siamo</a>
                    <a href="{{ url_for('qualita') }}">Qualità</a>
                    <a href="{{ url_for('personalizzazioni') }}">Personalizzazioni</a>
                </div>
            </div>
        </li>
        <li class="navbar-item">
            <a href="{{ url_for('collezioni') }}" class="navbar-link">Collezioni</a>
        </li>
        <li class="navbar-item">
            <a href="{{ url_for('contatti') }}" class="navbar-link">Contatti</a>
        </li>
        <li class="navbar-item">
            <a href="{{ url_for('journal') }}" class="navbar-link">Journal</a>
        </li>
    </ul>
</nav>