<!DOCTYPE html>
<html lang="it">

<head>
    <title>Poliwood - Qualità</title>
    {% include 'base.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <main>
        <!-- --- -->
        <section class="py-5 bg-light">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='assets/img/no_image.png') }}"
                            class="img-fluid shadow-lg feature-img" alt="no_image">
                    </div>
                    <div class="col-md-6 ps-md-5 mt-4 mt-md-0">
                        <h2 class="mb-4 text-uppercase" style="font-weight: 300;">La Cultura del Legno</h2>
                        <p class="text-muted mb-4">
                            Ogni ambiente ha la sua anima. Selezioniamo <strong>oltre dieci essenze pregiate</strong> —
                            dal Rovere al
                            Castagno, fino al Larice Bio — ed <strong>esaltiamo la loro natura</strong> con finiture
                            speciali e
                            lavorazioni puramente artigianali, come spazzolature e cerature. Una dedizione assoluta alla
                            materia prima.
                            Ogni ambiente ha la sua anima. Selezioniamo <strong>oltre dieci essenze pregiate</strong> —
                            dal Rovere al
                            Castagno, fino al Larice Bio — ed <strong>esaltiamo la loro natura</strong> con finiture
                            speciali e
                            lavorazioni puramente artigianali, come spazzolature e cerature. Una dedizione assoluta alla
                            materia prima.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- --- -->
        <section class="py-5 bg-light">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-md-6 ps-md-5 mt-4 mt-md-0">
                        <h2 class="mb-4 text-uppercase" style="font-weight: 300;">Il nostro Legno, la Vostra Firma</h2>
                        <p class="text-muted mb-4">
                            Crediamo che i dettagli facciano la differenza. Per questo vi offriamo la libertà totale di
                            <strong> reinterpretare le nostre collezioni</strong>: modificate le geometrie, combinate
                            gli stili e date
                            vita a una porta unica, <strong>cucita sartorialmente sui vostri desideri</strong>. Nessun
                            limite alla
                            creatività.
                            Crediamo che i dettagli facciano la differenza. Per questo vi offriamo la libertà totale di
                            <strong> reinterpretare le nostre collezioni</strong>: modificate le geometrie, combinate
                            gli stili e date
                            vita a una porta unica, <strong>cucita sartorialmente sui vostri desideri</strong>. Nessun
                            limite alla
                            creatività.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='assets/img/no_image.png') }}"
                            class="img-fluid shadow-lg feature-img" alt="no_image">
                    </div>
                </div>
            </div>
        </section>

        <!-- --- -->
        <section class="py-5 bg-light">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='assets/img/no_image.png') }}"
                            class="img-fluid shadow-lg feature-img" alt="no_image">
                    </div>
                    <div class="col-md-6 ps-md-5 mt-4 mt-md-0">
                        <h2 class="mb-4 text-uppercase" style="font-weight: 300;">La Cultura del Legno</h2>
                        <p class="text-muted mb-4">
                            Ogni ambiente ha la sua anima. Selezioniamo <strong>oltre dieci essenze pregiate</strong> —
                            dal Rovere al
                            Castagno, fino al Larice Bio — ed <strong>esaltiamo la loro natura</strong> con finiture
                            speciali e
                            lavorazioni puramente artigianali, come spazzolature e cerature. Una dedizione assoluta alla
                            materia prima.
                            Ogni ambiente ha la sua anima. Selezioniamo <strong>oltre dieci essenze pregiate</strong> —
                            dal Rovere al
                            Castagno, fino al Larice Bio — ed <strong>esaltiamo la loro natura</strong> con finiture
                            speciali e
                            lavorazioni puramente artigianali, come spazzolature e cerature. Una dedizione assoluta alla
                            materia prima.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- --- -->
        <section class="py-5 bg-light">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-md-6 ps-md-5 mt-4 mt-md-0">
                        <h2 class="mb-4 text-uppercase" style="font-weight: 300;">Il nostro Legno, la Vostra Firma</h2>
                        <p class="text-muted mb-4">
                            Crediamo che i dettagli facciano la differenza. Per questo vi offriamo la libertà totale di
                            <strong> reinterpretare le nostre collezioni</strong>: modificate le geometrie, combinate
                            gli stili e date
                            vita a una porta unica, <strong>cucita sartorialmente sui vostri desideri</strong>. Nessun
                            limite alla
                            creatività.
                            Crediamo che i dettagli facciano la differenza. Per questo vi offriamo la libertà totale di
                            <strong> reinterpretare le nostre collezioni</strong>: modificate le geometrie, combinate
                            gli stili e date
                            vita a una porta unica, <strong>cucita sartorialmente sui vostri desideri</strong>. Nessun
                            limite alla
                            creatività.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='assets/img/no_image.png') }}"
                            class="img-fluid shadow-lg feature-img" alt="no_image">
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>